<div class="col-md-10 col-xs-10 text-right">
    <div class="row" style="padding-right: 10px">
        {{ with .Site.Social.twitter }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/twitter.png" alt="twitter" class="img-responsive" /></a>
        {{ end }}
        {{ with .Site.Social.facebook }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/fb.png" alt="facebook" class="img-responsive" /></a> {{ end }}
        {{ with .Site.Social.linkedin }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/linkedin.png" alt="linkedin" class="img-responsive" /></a>
        {{ end }}
        {{ with .Site.Social.msdn }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/Microsoft.png" alt="MSDN" class="img-responsive" /></a>
        {{ end }}
        {{ with .Site.Social.github }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/github.png" alt="GITHub" class="img-responsive" /></a>
        {{ end }}
        {{ with .Site.Social.email }}
        &nbsp;<a target="_blank" href="{{ . }}" class="inlineDisplay"><img src="{{ $.Site.Params.resourcesBaseUrl }}/48/email.png" alt="email" class="img-responsive" data-toggle="tooltip" title="{{ . }}" /></a>
        {{ end }}
    </div>
</div>
