<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
                    <div class="profile-userpic">
                <img src="https://rahulrai.blob.core.windows.net/applicationresources/RahulRai.png" class="img-responsive" alt="Profile Picture">
            </div>
            <br/>
            <div class="col-md-12 text-center">
             <div class="profile-usertitle-name">
                    Rahul Rai
                </div>
                <div class="profile-usertitle-job">
                   Consultant - Readify Australia
                </div>
            </div>
    </div>
</div>
