<div class="row">
   <div class="col-md-11 col-md-offset-1 card">
      <h5>News</h5>
      <div id="notifications"></div>
      <script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.4.2/dist/showdown.min.js"></script>
      <script>
         $(document).ready(function () {
              var converter = new showdown.Converter(),
            text = $.ajax({ url: "https://raw.githubusercontent.com/moonytheloony/Blog-Web/master/blobs/notifications.md", async: false }).responseText,
            html = converter.makeHtml(text);
            $("#notifications").html(html);
         });        
      </script>
   </div>
</div>