<div class="row">
   <div class="col-md-11 col-md-offset-1 card">
      <div class="profile-userpic">
         <img src="https://rahulrai.blob.core.windows.net/resources/profilePicture.jpg" class="img-responsive" alt="Profile Picture">
      </div>
      <br/>
      <div class="col-md-12 text-center">
         <div class="profile-usertitle-name">
           <b>Rahul Rai</b>
         </div>
         <div class="profile-usertitle-job">
           <i>I am a Consultant at Readify, Australia, an ex Microsoftie and a full time enthusiast of tech and music.</i>
         </div>
      </div>
   </div>
</div>