<link href="{{ .Site.BaseURL }}css/mailerlite_style.min.css" rel="stylesheet" type="text/css">
<div class="row">
   <div class="col-md-11 col-md-offset-1 card">
      <h5>GET SMARTER!</h5>
      Stay up to date with interesting posts like these. Take a moment to subscribe!
      <br/> <br/>
      <div class="text-center">
         <form id="mlb2-2956911" action="//app.mailerlite.com/webforms/popup/o2x4c7" data-code="o2x4c7" data-id="167069" target="_blank">
            <div class="button-preview">
               <button type="submit" class="ml-subscribe-button">Get Me On Board</button>
            </div>
         </form>
      </div>
      <script type="text/javascript" src="//static.mailerlite.com/js/w/button.min.js?v6568cf314f972995a1bfccf597299cca"></script>
   </div>
</div>