.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.06);
}

    .profile-userpic img:hover {
        -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    }

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #337AB7;
    font-size: 18px;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: initial;
    color: #337AB7;
    font-size: 15px;
    margin-bottom: 2px;
}

.featured {
    color: gold;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.testimonial {
    margin: 0;
    background: #F5F5F5;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-style: italic;
    word-wrap: break-word;
}

    .testimonial:after,
    .testimonial:before {
        content: "\201C";
        position: absolute;
        font-size: 80px;
        line-height: 1;
        color: #999;
        font-style: normal;
    }

    .testimonial:before {
        top: 0;
        left: 10px;
    }

    .testimonial:after {
        content: "\201D";
        right: 10px;
        bottom: -.5em;
    }

.testimonial-author {
    color: #e6400c;
    font-size: 16px;
    font-weight: 600;
}

.testimonials-post {
    color: #656565;
    font-size: 15px;
    font-weight: 500;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #F5F5F5;
    margin: 0 0 5px 10px;
}

.arrownAlign {
    margin: 0 0 5px 5px;
}

.btn {
    border-radius: 0;
}

.modal-header {
    height: 0px;
    padding-right: 10px;
    border-bottom: 0px;
}

.modal-dialog {
    width: 320px;
}

.inlineDisplay {
    display: inline-block;
}

.noMarginBottom {
    margin-bottom: 0px !important;
}

.content-card {
    padding: 25px !important;
}

pre {
    padding: 2px !important;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
    border: 1px solid #337AB7;
}