<div id="back-to-top" class="hidden" style="z-index: 100;">
    <a href="#top" style="display: inline;" onclick="$('html,body').animate({ scrollTop: 0 }, 'slow');return false;">
        <i class="fa fa-arrow-up fa-3x" aria-hidden="true"></i>
    </a>
</div>
<script defer>
    if (hljs) { hljs.initHighlightingOnLoad(); }
</script>
<script>
    if (($(window).height() + 100) < $(document).height()) { $('#back-to-top').removeClass('hidden').affix({ offset: { top: 100 } }); }

    var pattern = Trianglify({ width: window.outerWidth, height: document.body.scrollHeight, x_colors: 'RdYlBu', cell_size: 100, variance: 1 });
    document.body.style['background-image'] = 'url(' + pattern.png() + ')';
</script>