<div class="row">
	<div class="col-md-12 content-card">
		<h1>{{ .Title }}</h1>
		<div id="profileSummary">
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-7">
				<h1>Résumé</h1>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-7">
				<h1><a href="" target="_blank">Contact Me</a> for the pass key</h1>
			</div>
		</div>	
		<hr/>
		<div class="row">
			<div class="col-md-7">
				<h1>Testimonials</h1>
			</div>
			<div class="col-md-5 text-right">
				<!-- Place this tag where you want the button to render. -->
				<a class="github-button button" href="https://github.com/moonytheloony/Blog-Web/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/moonytheloony/Blog-Web/network" data-count-api="/repos/moonytheloony/Blog-Web#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork moonytheloony/Blog-Web on GitHub">Fork</a>
			</div>
		</div>	
		{{ .Render "testimonial.content" }}
	</div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>